body {
    background-color: #1a1a2e; /* Cyberpunk Dark */
    color: white;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.security-card {
    background-color: #16213e;
    padding: 30px;
    border: 1px solid #0f3460;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input {
    width: 100%;
    padding: 10px;
    background: #0f3460;
    border: 1px solid #533483;
    color: white;
    font-family: inherit;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Gray Background Bar */
.meter-container {
    height: 10px;
    background-color: #0f3460;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

/*Colored Moving Bar */
#strength-bar {
    height: 100%;
    width: 0%; 
    transition: width 0.3s ease, background-color 0.3s ease;
}

#feedback-text {
    font-size: 0.9rem;
    text-align: right;
    margin: 0;
    color: #a2a2a2;
}