/* RESET & BASICS */
* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: 'Courier New', monospace; /* Best font in my opinion :) */
    background-color: #111; /* Dark Mode */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* --- THE GRID PARENT --- */
.bento-container {
    display: grid;
    width: 100%;
    max-width: 900px;
    gap: 15px; /* Space between boxes */
    
    /* THE BLUEPRINT (Desktop)
       columns defined of equal width (1fr).
       rows defned automatically.
       
       Visual Layout:
       "profile profile twitter github"
       "profile profile projects projects"
       "stats stats projects projects"
    */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 150px;
    grid-template-areas: 
        "profile profile twitter github"
        "profile profile projects projects"
        "stats   stats   projects projects";
}

/* --- THE CHILDREN (Assigning them to areas) --- */
.box {
    background-color: #222;
    border: 1px solid #333;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s;
}

.box:hover {
    background-color: #2a2a2a;
    border-color: #555;
    transform: translateY(-5px); /* Lift effect/ hover effect */  /* i like this effect probably the coolest css feature ill be using it a lot xD */
}

/* Mapping HTML classes to Grid Areas */
.profile       { grid-area: profile; background-color: #6c5ce7; color: white; }
.social-twitter{ grid-area: twitter; }
.social-github { grid-area: github; }
.projects      { grid-area: projects; align-items: flex-start; }
.stats         { grid-area: stats; }

/* --- STYLING DETAILS --- */
.profile img {
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid white;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #444;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}

.fill {
    width: 9%; /* 9 Days out of 100 */
    height: 100%;
    background: #00b894;
}

/* --- RESPONSIVE (Mobile) --- */
/* When screen is smaller than 600px, create a single column stack */
/* makes the page scalable and more user friendly */
@media (max-width: 600px) {
    .bento-container {
        grid-template-columns: 1fr; /* 1 Column */
        grid-template-rows: auto;   /* Height adapts to content */
        grid-template-areas: 
            "profile"
            "twitter"
            "github"
            "stats"
            "projects";
    }
}